<html>
	<head>
		<meta charset="UTF-8">
		<script src="scripts/vendor/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="styles/easyTree.css">
		<script src="scripts/vendor/easyTree.js"></script>
		<script src="scripts/vendor/bootstrap.min.js"></script>
		<style type="text/css">
			.building li {
				padding: 10px;

			}
			.building img{
				width:50px;height:50px
			}
			.building span{
				text-align: center;
				display:block;
			}
		</style>
	</head>
	<body ng-app="index">
		<div>
		<nav class="navbar navbar-default" role="navigation">
		   <div class="navbar-header">
		      <a class="navbar-brand" href="#">home</a>
		   </div>
		   <div>
		      <p class="navbar-text navbar-right"> 
		         <a href="#" class="navbar-link">Setting</a>
		      </p>
		   </div>
		</nav>
		</div>
		<div class="container" ng-controller="indexController">
			<div class="row">
				<div class="col-xs-12">
					<div class="col-xs-3">
						<div class="easy-tree">
						        <ul>
						        	<li ng-click="selectedBuilds(building.build,$event)">ROOT
						        		<ul>
						           		<li ng-repeat="buil in building.build" ng-click="selectedBuil(buil,$event)">{{buil.name}}
						                	<ul>
						                		<li ng-repeat="storey in buil.storeys" ng-click="selectedStorey(storey,$event)">{{storey.storeyId}}
						                			<!--
						                			<ul>
						                				<li ng-repeat="room in storey.rooms" ng-click="building.Selected()">{{room}}</li>
						                			</ul>
						                			-->
						                		</li>
						                	</ul>
						           		</li>
						           		</ul>
						            </li>
						        </ul>
						    </div>
					</div>
					<div class="col-xs-7">
						<div class="">
							<ul class="list-inline building" ng-repeat="room in rooms">
								<li ng-repeat="rm in room">
									<img src="img/chinaz6.png">
									<span>{{rm}}</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-2">
						<h4><small>楼名称：</small>商住楼</h4>
						<h4><small>房  名：</small>201</h4>
						<h4><small>房  型：</small>两房两厅</h4>
						<h4><small>面  积：</small>70 m</h4>
						<h4><small>朝  向：</small>东</h4>
						<h4><small>状  态：</small>已出租</h4>
						<br/>
						<h4><small>合同号：</small>11</h4>
						<h4><small>房  租：</small>1700</h4>
						<h4><small>押  金：</small>2000</h4>
						<h4><small>租  期：</small>12</h4>
						<h4><small>模  式：</small>押一付一</h4>
						<h4><small>周  期：</small>一月一付</h4>
						<br/>
						<h4><small>租户姓名：</small>xxxx</h4>
						<h4><small>身份证：</small>xxxxxxxxxxxxxx</h4>
						<h4><small>电话号码：</small>11</h4>
						<h4><small>地址：</small>11</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">1</div>
				<div class="col-xs-6">1</div>
			</div>
			<div class="row">
				<div class="col-xs-2"></div>
			</div>
		</div>

		<script src="scripts/vendor/angular.js"></script>
		<script src="scripts/controllers/indexController.js"></script>
		<script src="scripts/services/indexService.js"></script>
		<script type="text/javascript">
			(function ($) {
			    function init() {
			        $('.easy-tree').EasyTree({
			            addable: false,
			            editable: false,
			            deletable: false
			        });
			    }

			    window.onload = init();
			})(jQuery)
		</script>
	</body>

</html>